.body-container {
    padding: 20px;
    margin-left: 390px;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        margin-left: 300px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        margin-left: 242px;
    }
}

.card {
    margin-bottom: 20px;
}

.job-card {
    display: flex;
}

.body-back {
    width: 68vw;
    height: 35vh;
    background-color: #579fdc3d;
    border-radius: 8px;
    border: 2px solid #579fdc3d;
    text-align: left;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        width: 70vw;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        width: 75vw;
    }
}

.main-card-job-details {
    border-radius: 8px !important;
    border: 1px solid #f7f4f4;
    display: flex;
    padding: 30px 30px 10px 30px;
    margin-bottom: 10px;

    &.pie {
        @media only screen and (min-width: 1422px) and (max-width: 1599px) {
            padding: 0px 18px;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1422px) {
            padding: 0px;
        }
    }

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        padding: 19.5px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        padding: 14px;
    }
}

.job-board-card {
    border-radius: 8px !important;
    border: 1px solid #f7f4f4;

    >.job-board-padding {
        padding: 14px !important;
    }
}

.main-body-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        margin-top: 8px;
    }
}

.job-board {
    width: 18vw;
    text-align: left;
    margin-bottom: -2px;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        width: 282px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        width: 270px;
    }
}

.job-board-image {
    width: -webkit-fill-available;
}

.title {
    font-size: 18px !important;
    font-weight: 600 !important;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        font-size: 14px !important;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 10px !important;
    }
}

.description {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: gray;
    width: -webkit-fill-available;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        font-size: 14px !important;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 10px !important;
    }
}

.main-title {
    padding-left: 24px;
}

.heading {
    font-size: 18px;
    margin-bottom: 10px;

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 16px;
        margin-bottom: 8px;
        margin-top: 18px;
    }
}

.desc {
    font-size: 12px;
    width: 370px;
    font-weight: 500;
    color: #5c5c5c;
    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 10px;
    }
}

.candidate-details-container {
    display: flex;
    margin-top: 100px;

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        margin-top: 80px;
    }
}

.icon-Button {
    background-color: #0202d3 !important;
    color: #fff !important;
    width: 50px;
    height: 50px;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        width: 40px;
        height: 40px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        width: 30px;
        height: 30px;
    }

    &.people-icon {
        background-color: #a25c238f !important;
    }

    &.ai-credit-icon {
        background-color: #0202d399 !important;
    }

    >svg {
        width: 50px;
        height: 30px;

        @media only screen and (min-width: 1422px) and (max-width: 1599px) {
            width: 30px;
            height: 25px;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1422px) {
            width: 25px;
            height: 18px;
        }
    }
}

.jobs-count-main {
    display: flex;
}

.count {
    font-size: 40px;
    margin: -8px 40px 20px 18px;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        font-size: 30px;
        margin: -10px 40px 18px 18px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 22px;
        margin: -8px 36px 14px 14px;
    }
}

.total-jobs {
    font-size: 18px;
    font-weight: 700;
    color: #5c5c5c;
    position: relative;
    left: 70px;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        font-size: 16px;
        left: 58px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 12px;
        left: 45px;
    }
}

.latest-candidate {
    text-align: left;
    font-weight: 700 !important;
    font-size: 20px !important;
    font-family: sans-serif !important;
    margin-bottom: 8px !important;

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        font-size: 16px !important;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        font-size: 12px !important;
    }
}

.table-chart {
    margin-top: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    margin-right: 30px;

    &.bar-graph {
        width: 430px;

        @media only screen and (min-width: 1422px) and (max-width: 1599px) {
            width: 456px;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1422px) {
            width: 510px;
            margin-right: 10px;
        }
    }

    @media only screen and (min-width: 1422px) and (max-width: 1599px) {
        padding: 0;
        margin-right: 46px;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1422px) {
        padding: 0;
        margin-right: 40px;
    }
}

.candidate-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 18px;
        text-align: left;
        border-bottom: 1px solid #ddd;

        @media only screen and (min-width: 1422px) and (max-width: 1599px) {
            padding: 8px;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1422px) {
            padding: 8px;
            font-size: 12px;
        }
    }

    th {
        background-color: #f5f5f5;
    }
}