.side-drawer-container, .closed-drawer {
    position: absolute;
    width: 230px;
    height: 90vh;
    border-right: 2px dashed #dddddd;
}

.closed-drawer {
    width: 15px !important;
}

.dashboard-title {
    color: #011dc5;
    height: 45px;
    border-right: 4px solid #011dc5;
    background-color: #011dc51f;
    display: flex;
    align-items: center;
    margin: 22px -2px 22px 0px;
    padding-left: 14px;
}

.dashboard {
    padding-left: 12px;
    font-size: 18px;
}

.arrow-icon {
    transform: rotate(180deg);
    color: #888888;
    width: 15px !important;
}

.closed-arrow {
    color: #888888;
    width: 15px !important;
}

.icon-container, .closed-icon-container {
    border-radius: 50%;
    border: 2px dashed #dddddd;
    width: 25px;
    height: 25px;
    position: relative;
    top: 30%;
    float: right;
    background-color: #fff;
    right: -14px;
}

.closed-icon-container {
    top: 42% !important
}