.pie-chart {
    width: 256px !important;
    height: 188px !important;

    >svg {
        width: 76% !important;
        height: 103% !important;
        margin: -15px 0 0 -50px;
    }

    >div {
        width: 178px !important;
        left: 115px !important;
        top: 62px !important;

        ul {
            text-align: left !important;
            margin-left: 24px !important;

            li {
                margin-bottom: 20px;

                svg {
                    margin-right: -15px !important;
                    margin-top: -36px;
                    border-radius: 8px;
                }

                span {
                    color: #000 !important;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }
}